<div class="header navbar navbar-fixed-top">
  <div class="header-inner">
  <a class="navbar-brand" href="index.html">
    <img src="img/logo.png" alt="logo" class="img-responsive"/>
  </a>
  <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <img src="img/menu-toggler.png" alt=""/>这个是什么呢
  </a>
  <ul class="nav navbar-nav pull-right">
  <li class="dropdown user">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
      <img alt="" src="http://q2.qlogo.cn/g?b=qq&k=5UobW9GnjyicrvSL8IXCBRA&s=40&t=1425268292"/>
      <span class="username">youngguang</span>
      <i class="fa fa-angle-down"></i>
    </a>
  </li>
  </ul>
  </div>
</div>